
  .profilePage {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .profileHeader {
    position: relative;
  }
  
  .coverPhoto {
    height: 200px;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
  }
  
  .profileInfo {
    text-align: center;
    margin-top: -75px;
    padding: 10px 0;
  }
  
  .profileImageWrapper {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fff;
    background-color: #fff;
  }
  
  .profileImage {
    width: 10%;
    height: 10%;
    /* object-fit: cover; */
  }
  
  .profileName {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  
  .profileNavigation {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
  }
  
  .profileNavigation nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  
  .profileNavigation nav ul li a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
    padding: 5px 10px;
  }
  
  .profileNavigation nav ul li a:hover {
    color: #007bff;
  }
  
  .profileContent {
    padding: 20px;
    font-size: 1rem;
    color: #666;
  }
  